@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 0%, 0%;
    --foreground: 210 40% 98%;

    --text: 0, 100%, 100%;
    --text-foreground: 0, 0%, 0%;

    --border: 180, 0%, 70%;
    --border-foreground: 0, 100%, 50%;
  }

  .dark {
    --background: 0, 100%, 100%;
    --foreground: 210 40% 98%;

    --text: 0, 0%, 0%;
    --text-foreground: 0, 100%, 100%;

    --border: 180, 0%, 70%;
    --border-foreground: 0, 100%, 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-text;
  }
}
